<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script defer src="../static/app.js"></script>

  <title>To-Do List</title>


</head>
<style>
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .List-Box {
    width: 90%;
    max-width: 550px;
    display: flex;
    border: 1px solid gray;
    flex-direction: column;
    justify-content: center;
  }

  .List-Box > ul {
    display: flex;
    flex-direction: row;
  }

</style>
<body>
<h1 id="h1">Simple To-Do List</h1>
<div id ="edit">
  <div class=input>
    <input id="list_input" type="text" placeholder="To-Do List를 입력하세요">
    <button onclick="add_list()">추가</button>
  </div>
</div>

<div id="todo_List" class="List-Box">
</div>

</body>
</html>